<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>Express.js</string>
	<key>CFBundleName</key>
	<string>Express JS</string>
	<key>DocSetPlatformFamily</key>
	<string>expressjs</string>
	<key>dashIndexFilePath</key>
	<string>guide.html</string>
</dict>
</plist>
